name: Release

on:
  workflow_dispatch:

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "OK"

  publish:
    runs-on: ubuntu-latest
    environment: prod
    needs: main
    permissions:
      id-token: write     
    steps:
    - uses: actions/create-github-app-token@v2
      id: app-token
      with:
        app-id: ${{ vars.APP_ID }}
        private-key: ${{ secrets.PRIVATE_KEY }}

    - uses: actions/checkout@v6
      with:
        token: ${{ steps.app-token.outputs.token }}
        persist-credentials: false
    
    - run: |
        tag="v$(cargo metadata --format-version 1 --no-deps | jq -r .packages[0].version)"
        git tag "$tag"
        git push --tags

    - uses: rust-lang/crates-io-auth-action@v1
      id: auth

    - run: cargo publish
      env:
        CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
